* {
  padding: 0px;
  margin: 0px;
}
.banner-container {
  background-color: rgb(253, 238, 241);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-text {
  padding: 100px;
}
.motto-of-life {
  color: rgb(39, 39, 39);
  font-size: 50px;
}
.shop-now-btn {
  background-color: rgb(229, 84, 115);
  color: white;
  padding: 10px 20px;
  border-radius: 0.5em;
  border-style: none;
}
.banner-image {
  padding-top: 50px;
  padding-right: ;
  height: 635px;
  width: 500px;
}
