* {
  padding: 0px;
  margin: 0px;
}
/* Header Banner Part*/

.banner-container {
  background-color: rgb(253, 238, 241);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-description {
  padding: 50px;
  margin-left: 190px;
}
.tagline {
  color: rgb(39, 39, 39);
  font-size: 90px;
  padding-bottom: 0.5rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.description {
  padding-bottom: 0.5rem;
  color: rgb(122, 117, 117);
}
.shop-now-btn {
  background-color: rgb(229, 84, 115);
  color: white;
  font-size: 17px;
  padding: 12px 30px;
  margin-top: 0.5rem;
  border-radius: 0.5em;
  border-style: none;
}
.banner-image {
  padding-top: 50px;
  padding-right: 80px;
  margin-right: 170px;
  height: 635px;
  width: 500px;
}

/* Header Feature Part */

.feature-item-container {
  height: 100vh;
  .text-container {
    text-align: center;
    margin: auto;
    padding-top: 7rem;
  }
  .feature-images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-top: 5rem;
  }
  .feature-image-pink {
    height: 190px;
    width: 175px;
    padding: 2rem;
    background-color: rgb(242, 222, 232);
    
  }
  .feature-image-red {
    height: 190px;
    padding: 2rem;
    background-color: rgb(218, 240, 241);
  }
  .feature-image-yellow {
    height: 190px;
    width: 175px;
    padding: 2rem;
    background-color: rgb(228, 236, 220);
  }


.tree-anchor {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 4.5em;
  padding-top: 1.5rem;
}
