* {
  padding: 0px;
  margin: 0px;
}
/* Header Banner Part*/

.banner-container {
  background-color: rgb(253, 238, 241);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-description {
  padding: 50px;
  margin-left: 190px;
}
.tagline {
  color: rgb(39, 39, 39);
  font-size: 90px;
  padding-bottom: 0.5rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.description {
  padding-bottom: 0.5rem;
  color: rgb(122, 117, 117);
}
.shop-now-btn {
  background-color: rgb(229, 84, 115);
  color: white;
  font-size: 17px;
  padding: 12px 30px;
  margin-top: 0.5rem;
  border-radius: 0.5em;
  border-style: none;
}
.banner-image {
  padding-top: 50px;
  padding-right: 80px;
  margin-right: 170px;
  height: 635px;
  width: 500px;
}

/* Header Feature Part */

.feature-item-container {
  height: 70vh;
}

.text-container {
  text-align: center;
  margin: auto;
  padding-top: 7rem;
}
.text-container {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(39, 39, 39);
}
.text-container-description {
  color: rgb(122, 117, 117);
}
.feature-images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-top: 5rem;
}
.feature-image-pink {
  height: 190px;
  width: 175px;
  padding: 2rem;
  background-color: rgb(242, 222, 232);
}
.feature-image-red {
  height: 190px;
  padding: 2rem;
  background-color: rgb(218, 240, 241);
}
.feature-image-yellow {
  height: 190px;
  width: 175px;
  padding: 2rem;
  background-color: rgb(228, 236, 220);
}
.tree-anchor {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 10.5em;
  padding-top: 1.5rem;
}
.discount-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30vh;
  background-color: rgb(254, 246, 248);
}
.discount-section {
  padding: 40px;
  padding-top: 3.5rem;
  margin-left: 380px;
  text-align: center;
  justify-content: center;
}
.percentile-title {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.discount-description {
  color: rgb(122, 117, 117);
}

.btn-sign-up {
  background-color: rgb(229, 84, 115);
  color: white;
  font-size: 17px;
  padding: 12px 30px;
  margin-top: 0.5rem;
  border-radius: 0.5em;
  border-style: none;
}
.discount-decorative-img {
  padding-top: 50px;
  padding-right: 500px;
  margin-bottom: 3rem;
  margin-right: 100px;
  height: 220px;
  width: 160px;
}
.primary-color {
  color: rgb(229, 84, 115);
}

/* Social Media Section */

.social-media {
  text-align: center;
}
.instagram {
  padding-top: 5rem;
  padding-bottom: 0.5rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(39, 39, 39);
}
.social-media-description {
  color: rgb(122, 117, 117);
}
.social-media-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding-bottom: 5rem;
}
.bouquet-of-roses {
  padding-top: 2rem;
  height: 190px;
}
.bouquet-of-daisy {
  padding-top: 2rem;
  height: 190px;
}
.flower-in-tub {
  padding-top: 2rem;
  height: 190px;
}
.red-roses {
  padding-top: 2rem;
  height: 190px;
}
.coupon-container {
  text-align: center;
  background-image: url(../images/Rectangle\ 9.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  padding-top: 5rem;
}
